hotkey-overlay {
     skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // off
}
debug {
    honor-xdg-activation-with-invalid-serial
}
cursor {
    xcursor-theme "elementary"
    xcursor-size 24
}
