window-rule {
    match app-id=r#"synapse"#
    border {
      off
    }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

