* {
font-family:  'Adwaita Mono';
font-size: 13px;
padding:0;
}

window#waybar {
    background-color: #000;
}

#pulseaudio-slider{
padding:8px 0 8px 0;
min-height: 70px;
}
#pulseaudio-slider slider {
background: #fff;
}
